.profile__profession {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin: 16px 0 0;
    width: 70%;
}

@media (max-width: 320px) {
    .profile__profession {
        width: 70%;
        margin: 14px auto 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
  }