.main {
    width: 70%;
    max-width: 882px;
    margin: 0 auto 0;
    padding: 0;
    display: block;
}

@media (max-width: 1024px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 400px) {
    .main {
      width: 100%;
    }
  }