.header__logo {
    margin-bottom: 41px;
    background-size: 173px 33px;
}

@media (max-width: 400px) {
    .header__logo {
        margin-bottom: 32px;
        margin-left: 27px;
        width: 126px;
        height: 24px;
    }
  }