@import url('./__line/header__line.css');
@import url('./__logo/header__logo.css');

.header {
    padding-top: 45px;
    margin: 0 auto 0;
    width: 70%;
    max-width: 882px;
}

@media (max-width: 320px) {
    .header {
        padding: 45px auto 0;
        width: 100%;
    }
  }