@import url('./__logo/header__logo.css');

.header {
    padding-top: 45px;
    margin: 0 auto 0;
    width: 70%;
    max-width: 882px;
    border-bottom: 1px solid #545454;
}

@media (max-width: 1024px) {
    .header {
        padding: 45px 0 0;
        width: 90%;
    }
  }
@media (max-width: 400px) {
    .header {
        padding: 45px 0 0;
        width: 100%;
    }
  }