.edit-form__name {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 13.26px;
    padding-bottom: 13.26px;
}

@media (max-width: 400px) {
    .edit-form__name {
       width: 90%;
       margin: 0 auto 0;
       display: block;
       justify-self: center;
    }
  }