@import url('./__grid-element/elements__grid-element.css');
@import url('./__image/elements__image.css');
@import url('./__like-button/elements__like-button.css');
@import url('./__text/elements__text.css');
@import url('./__caption/elements__caption.css');
@import url('./__block/elements__block.css');
@import url('./__delete-button/elements__delete-button.css');
@import url('./__like-button/_active/elements__like-button_active.css');

.elements {
    display: block;
    position: relative;
    width: 100%;
}