@import url('./__close-button/edit-form__close-button.css');
@import url('./__name/edit-form__name.css');
@import url('./__aboutme/edit-form__aboutme.css');
@import url('./__save-button/edit-form__save-button.css');
@import url('./__title/edit-form__title.css');
@import url('./__box/edit-form__box.css');

.edit-form {
    display: none;
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 400px) {
    .edit-form {
        align-items: center;
        position: fixed;
    }
  }