.profile__name {
    font-size: 42px;
    line-height: 56px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    display: inline-block;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
}

@media (max-width: 600px) {
    .profile__name {
      width: 70%;
      height: 38px;
      font-size: 22px;
      line-height: 56px;
      text-align: center;
      margin: 0 auto 0;
      position: relative;
    }
  }