.profile__info {
    width: 90%;
    display: flex;
    flex-basis: 70%;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: left;
    position: relative;
    margin: 0 0 0 30px;
}

@media (max-width: 320px) {
    .profile__info {
      width: 100%;
      height: auto;
      justify-content: flex-start;
      flex-direction: column;
      margin: 10px 0 0;
    }
  }