.edit-form__close-button {
    position: absolute;
    width: 57.56px;
    height: 57.56px;
    top: -45px;
    right: -45px;
    transition: ease-in-out .5s opacity;
}

.edit-form__close-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media (max-width: 320px) {
    .edit-form__close-button {
        width: 35px;
        height: 35px;
        top: -30px;
        right: -30px;
    }
  }